.container {
    display: flex;
}

.employee-list {
    width: 30%;
    max-height: 80vh;
    overflow-y: scroll;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.pet-section {
    width: 70%;
    padding: 10px;
}
