.EmployeeTable {
  padding: 0.5rem;
}

.filters {
  padding: 0.5rem;
}

.sort-buttons {
  padding: 0.5rem;
}

.missing-employees-link {
  margin-top: 10px;
}

.missing-link {
  font-weight: bold;
  color: #007bff; /* Blue color */
  text-decoration: none; /* Remove underline */
}

.missing-link:hover {
  color: #0056b3; /* Darker blue color on hover */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}
