.EmployeeTable {
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters,
.sort-buttons,
.dashboard-link,
.missing-employees-link,
.export-button {
  margin-bottom: 1rem;
}

.filters input {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort-buttons button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-buttons button:hover {
  background-color: #0056b3;
}

.dashboard-link,
.missing-employees-link {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.dashboard-link:hover,
.missing-link:hover {
  color: #0056b3;
}

.export-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.export-button:hover {
  background-color: white;
  color: #4caf50;
  border: 2px solid #4caf50;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

td .clickable-name {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

td .clickable-name:hover {
  color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
